<% provide(:adveli, "/") %>
<% provide(:about, "/#about") %>
<% provide(:features, "/#features") %>
<% provide(:media, "/media") %>
<% provide(:contact, "/#contact") %>
<% provide(:jobs, "/jobs") %>

<%= render 'layouts/nav' %>

<header style="min-height: 50%">
    <div class="header-content">
        <div class="header-content-inner">
            <h1 id="jobHeading">Media</h1>
            <hr>
            <p>Adveli is the First and Only SaaS Cloud Computing software tool application in the world designed for K-12 institutions.</p>
        </div>
    </div>
</header>

<div class="content-wrapper" style="">
  <div class="content-inner-wrapper" style="text-align: center">
    <div class="content-media-wrapper">
        <iframe width=100% height="450" src="https://www.youtube.com/embed/q4kt4eOCOH0" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="content-media-wrapper">
	   <iframe width="100%" height="450" src="https://www.youtube.com/embed/JNZOn4shWxQ" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="content-media-wrapper">
	   <iframe width="100%" height="450" src="https://www.youtube.com/embed/lz_b33BEPFw" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
</div>