<% provide(:adveli, "/") %>
<% provide(:about, "/#about") %>
<% provide(:features, "/#features") %>
<% provide(:contact, "/#contact") %>

<%= render 'layouts/nav' %>
<h1>StaticPages#media</h1>
<p>Find me in app/views/static_pages/media.html.erb</p>
