<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">We've got what you need!</h2>
                <hr class="light">
                <p class="text-faded">Our goal is to introduce a Cutting-Edge Cloud Environment Software Solution to the Asian-Pacific Education Systems by creating a less paper school environment, a one laptop per teacher solution, a one-stop IT solution and support for schools.

                We’re here to help provide and/or upgrade your school facilities from the ground up with state of the art school software solutions and high-tech equipment. </p>
                <a href="#services" class="page-scroll btn btn-default btn-xl sr-button">Get Started!</a>
            </div>
        </div>
    </div>
</section>