<section id="features"></a>

    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Online Gradebook</h2>
                    <p class="lead">Our online Gradebook application allow Teachers to automatically store and calculate students grades.

                    Teachers, Students and Parents can now see the students progress online, at anytime.

                    With the online Gradebook system application, Administrators will have access to the school, classrooms, and student’s grades, as well as other competitive comparison information online.</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="https://static.pexels.com/photos/262333/pexels-photo-262333.jpeg" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Online Quiz</h2>
                    <p class="lead">With our Online Quiz cloud application, teachers can now create a time sensitive True/False, Multiple Choice and/or Essay Question Quiz or Exam for students to take either in the classroom, home or anywhere in the world.</p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive" src="https://static.pexels.com/photos/7102/notes-macbook-study-conference.jpg" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->

    <div class="content-section-c">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Administrative Analytical Tools</h2>
                    <p class="lead">Our comprehensive online analytical tools will allow school administrators and instructors to monitor, compare, and analyze students, classrooms and the school’s grades and performances.

                    Both Students and Parents will also be able to take advantage of the online analytical tools for monitoring and analyzing individual grades and performances.</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="https://static.pexels.com/photos/241544/pexels-photo-241544.jpeg" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-c -->

    <div class="content-section-d">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Classroom Circle</h2>
                    <p class="lead">Each instructor creates a classroom circle for each class they teach. Instructors can set up multiple topic based discussion circles for the class and private discussion circles for each student. Parents can be added on to the classroom allowing them to monitor classroom activity and school events.</p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive" src="https://static.pexels.com/photos/207653/pexels-photo-207653.jpeg" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-d -->

    <div class="content-section-e">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Cloud Computing Tool Applications</h2>
                    <p class="lead">Store classroom materials and make changes to documents stored online. Create or take online Quiz either in the classroom, at home or anywhere in the world. Create, upload, and share homework online.

                    With Adveli, students will never be left behind, even if they’re half the world away.</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="https://static.pexels.com/photos/159282/technology-servers-server-159282.jpeg" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-e -->

    <div class="content-section-f">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">School Monitoring Tool</h2>
                    <p class="lead">Our Classroom Monitoring application will provide the school with the ability for school Administrators, Instructors and Parents to monitor the school, classrooms or school events from their home, office or half the world away.</p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive" src="https://static.pexels.com/photos/392018/pexels-photo-392018.jpeg" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-f -->

    <div class="content-section-g">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Cloud File Storage</h2>
                    <p class="lead">With our Cloud File Storage capability, Students, Teachers and School Administrators can now store; upload, download or share their homework, presentation or video files from home, classroom or anywhere in the world to their private storage cloud.</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="https://static.pexels.com/photos/335907/pexels-photo-335907.jpeg" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-g -->

    <div class="content-section-h">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Discussion Pages</h2>
                    <p class="lead">Our discussion page is designed and adapted for educational use. We designed our discussion page to be fully customizable based upon classroom or group circle’s privacy settings. The result is a communication method ranging from discreet conversations to school-wide news.

                    Teachers or School Administrators can now create topic based discussions for their classroom circles.</p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive" src="https://static.pexels.com/photos/270691/pexels-photo-270691.jpeg" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-h -->

    <div class="content-section-i">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Access from Anywhere in the World</h2>
                    <p class="lead">Now everyone, including parents can keep up to date with school events, and classroom activities from anywhere in the world.

                    Our software solution caters to any classroom situation and to the needs of remotely located or disabled students. Our solution is flexible and customizable.</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="https://static.pexels.com/photos/335393/pexels-photo-335393.jpeg" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-i -->

    <div class="content-section-j">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Live Chat</h2>
                    <p class="lead">Live chat is an online communication tool for students, parents, teachers and school administrators to communicate in real time.</p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive" src="https://static.pexels.com/photos/541522/pexels-photo-541522.jpeg" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-j -->
   

</section>