<header style="<%= yield(:headerstyle) %>">
    <div class="header-content">
        <div class="header-content-inner">
            <h1 id="homeHeading"><%= yield(:heading) %></h1>
            <hr>
            <p><%= yield(:subheading) %></p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>